.form label {
	width: auto;
	display: block;
	font-weight: 900;
	font-size: 20px;
}

.form input {
	display: block;
	width: 100%;
	margin: 10px 0;
	border: 1px solid #ccc;
	height: 30px;
	padding: 0;
}

.form input:focus {
	outline: none;
}

.button {
	color: white;
	background-color: purple;
	padding: 8px 20px;
	border: none;
}
